<div class="container text-white">
  <h1 class="text-center mb-3 display-1">Firework List for NYE</h1>
  <table class="table table-hover table-bordered border-rounded" style="background-color: rgb(106, 24, 117); border-radius: 1%; font-family: sans-serif;">
    <tr class="text-center">
      <th>
        <span class="btn" (click)="newFirework()">&#10010;</span>
      </th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Amount</th>
    </tr>
    @for (firework of fireworks; track $index) {
    <tr class="text-center">
      <td>
        <span class="btn btn-primary" (click)="modifyFirework(firework)">&#9998;</span>
        <span class="btn btn-danger" (click)="deleteFirework(firework)">&#10006;</span>
      </td>
      <td>{{ firework.name }}</td>
      <td>{{ firework.category }}</td>
      <td>{{ firework.price }}</td>
      <td>{{ firework.quantity }}</td>
    </tr>
    }
  </table>
</div>

<app-fire-w [model]="modify" (saveEvent)="saveModify($event)"></app-fire-w>
<app-fire-w [model]="new" (saveEvent)="saveNew($event)"></app-fire-w>